{% extends "base.html" %}

{% block title %}Forgot Password{% endblock %}

{% block content %}
<script src="/static/bower_components/jquery/dist/jquery.min.js"></script>

    <div id="login-form-wrapper">
        <div id="login-form">
            <img src="/static/img/COPDESS2.png">

            <div class="forgot-form-content">
                {% if form.errors %}
                    <p class="error">Sorry, that's not a valid email.</p>
                {% endif %}

                <div id="invalid-message">{{ invalid_message }}</div>
                <div id="success-message">{{ success_message }}</div>

                <form action="/forgot_password_request/" method="post"> {% csrf_token %}
                    <p>
                        <label for="email">Email: </label>
                        <input type="text" name="email" value="" id="email">
                    </p>
                    <p>
                        <input id="submit-button" type="submit" value="Request Reset" />
                    </p>
                </form>
            </div>

        </div>
    </div>
{% endblock %}