{% extends "base.html" %}

{% block title %}Welcome - COPDESS{% endblock %}

{% block content %}
<script src="/static/bower_components/jquery/dist/jquery.min.js"></script>

    <div class="hover-bar">
        <div class="rectangle">
            <div id="logo">COPDESS</div>
        </div>
    </div>
    <div class="row">
        <div id="landing-image" class="col-md-12">

        </div>
    </div>

    <div class="row">
        <div id="landing-header" class="col-md-12">
            Coalition on Publishing Data in the Earth and Space Sciences
        </div>
    </div>
    <div class="row">
        <div id="landing-info" class="col-md-8 col-md-offset-2">
            This repository represents a joint effort of the Coalition for Publishing Data in the Earth and Space Sciences (COPDESS) and the Center for Open Science (COS). This directory will help you, as an Earth and Space science researcher, author, and journal, find the right repository for your data, based on data type, discipline, and other relevant repository factors.
        </div>
    </div>

{% endblock %}