{% extends "base.html" %}

{% block title %}Site Administration{% endblock %}

{% block content %}
<script src="/static/bower_components/jquery/dist/jquery.min.js"></script>

    {% csrf_token %}
    <div id="manage-wrapper">
        <h3>Directory of Repositories Management</h3>
        <div id="repo-table">
            <table class="table table-bordered table-hover">
                <th>Select group:</th>
                <th>Add</th>
                    <tr>
                        <td>
                            <a href="/manage/Repositories/">Repositories</a>
                        </td>
                        <td class="add-icon">
                            <a href="/submit/Repositories"><i class="fa fa-plus-square-o fa-lg"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="/manage/Journals/">Journals</a>
                        </td>
                        <td class="add-icon">
                            <a href="/submit/Journals"><i class="fa fa-plus-square-o fa-lg"></i></a>
                        </td>
                    </tr>
{#                    <tr>#}
{#                        <td>#}
{#                            <a href="/manage/Data-Types/">Data-Types</a>#}
{#                        </td>#}
{#                        <td class="add-icon">#}
{#                            <a href="/submit/Data-Types"><i class="fa fa-plus-square-o fa-lg"></i></a>#}
{#                        </td>#}
{#                    </tr>#}
{#                    <tr>#}
{#                        <td>#}
{#                            <a href="/manage/Standards/">Standards</a>#}
{#                        </td>#}
{#                        <td class="add-icon">#}
{#                            <a href="/submit/Standards"><i class="fa fa-plus-square-o fa-lg"></i></a>#}
{#                        </td>#}
{#                    </tr>#}
{#                    <tr>#}
{#                        <td>#}
{#                            <a href="/manage/Taxonomies/">Taxonomies</a>#}
{#                        </td>#}
{#                        <td class="add-icon">#}
{#                            <a href="/submit/Taxonomies"><i class="fa fa-plus-square-o fa-lg"></i></a>#}
{#                        </td>#}
{#                    </tr>#}

            </table>
        </div>
    </div>

{% endblock %}