{% extends "base.html" %}

{% block title %}Site Administration{% endblock %}

{% block content %}
    {% csrf_token %}
    <div id="manage-wrapper">
        <h3>Directory of Repositories Management</h3>
        <div id="repo-table">
            <table class="table table-bordered table-hover">
                <th>Select group:</th>
                    <tr>
                        <td>
                            <a href="/manage/Repositories/">Repositories</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="/manage/Data-Types/">Data-Types</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="/manage/Standards/">Standards</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="/manage/Taxonomies/">Taxonomies</a>
                        </td>
                    </tr>
            </table>
        </div>
    </div>

{% endblock %}