{% extends "base.html" %}

{% block title %}Manage {{ title }}{% endblock %}

{% block content %}
    {% csrf_token %}
    <div id="manage-wrapper">
        <div class="row">
            <div class="col-md-9"><h3><a href="/manage/">Directory of Repositories Management</a> <i class="fa fa-angle-double-right"></i> Select from {{ title }}</h3></div>
            <div class="col-md-3">
                <h3>
                    <a href ="/submit/{{ title }}">
                        <button type="button" class="btn btn-default btn-md" id="button-add" name="{{ title }}-add-button">
                            <i class="fa fa-plus-square-o fa-lg"></i> Add New {{ title }}
                        </button>
                    </a>
                </h3>
            </div>
        </div>
        <div id="repo-table">
            <table class="table table-bordered table-hover">
                <th colspan="3">
                    <div class="row">
                        <div class="col-md-4">
                            Name
                        </div>
                        <div id="dropdown-button-action" class="col-md-offset-5 col-md-3">
                            <form class="form-inline">
                                <select class="form-control" id="bulk-action-select">
                                    <option value="" selected disabled>--Bulk Actions--</option>
                                    <option value="delete">Delete</option>
                                    {% if title == "Repositories" %}
                                        <option value="toggle-approval">Toggle Approval</option>
                                    {% endif %}
                                </select>
                                <button type="button" class="btn btn-default btn-md" id="button-apply">
                                    <div id="button-bulk-data">
                                        Apply
                                    </div>
                                </button>
                            </form>
                        </div>
                    </div>
                </th>
                {% if title == "Taxonomies" %}
                    {% for item, info in taxes %}
                        <tr>
                            <td>
                                <div class="checkbox" id={{ info.level }}>
                                    <label>
                                        <input type="checkbox" class="{{ item.id }}" id="{{ title }}">
                                        <a href="/manage/{{ title }}/{{ item.id }}/">{{ item.name }}</a>
                                    </label>
                                </div>
                            </td>
                            <td>
                                <div id="trash-button">
                                    <i class="fa fa-trash-o fa-lg"></i>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    {% for group in groups %}
                        <tr>
                            <td>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" class="{{ group.id }}" id="{{ title }}">
                                        <a href="/manage/{{ title }}/{{ group.id }}/">{{ group.name }}</a>
                                    </label>
                                </div>
                            </td>
                            {% if title == "Repositories" %}
                                 <td>
                                    {% if group.allows_embargo_period %}
                                    <button type="button" class="btn btn-default btn-md approve-button" id="button" name="{{ group.id }}">
                                        <div id="button-content-check">
                                            <i class="fa fa-square-o fa-lg"></i> Approve
                                        </div>
                                    </button>
                                    {% else %}
                                        <button type="button" class="btn btn-default btn-md approve-button" id="checked-button" name="{{ group.id }}">
                                            <div id="button-content-check">
                                                <i class="fa fa-check-square-o fa-lg"></i> Approved
                                            </div>
                                        </button>
                                    {% endif %}
                                </td>
                            {% endif %}
                            <td>
                                <div id="trash-button">
                                    <i class="fa fa-trash-o fa-lg"></i>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}
            </table>
        </div>
    </div>

{% endblock %}