{% extends "base.html" %}

{% block title %}Reset Password{% endblock %}

{% block content %}
<script src="/static/bower_components/jquery/dist/jquery.min.js"></script>

    <div id="login-form-wrapper">
        <div id="login-form">
            <img src="/static/img/COPDESS2.png">

            <div class="forgot-form-content">

                <div id="invalid-message">{{ invalid_message }}</div>

                <form action="/reset_password_submit/" method="post"> {% csrf_token %}
                    <input type="hidden" name="email" value="{{ email }}">
                    <input type="hidden" name="reset_form" value="{{ form_url }}">
                    <p>
                        <label for="password">New Password: </label>
                        <input type="password" name="password" value="" id="password">
                    </p>
                    <p>
                        <label for="password2">New Password (again): </label>
                        <input type="password" name="password2" value="" id="password2">
                    </p>
                    <p>
                        <input id="submit-button" type="submit" value="Reset Password" />
                    </p>
                </form>
            </div>

        </div>
    </div>
{% endblock %}