{% extends "base.html" %}

{% block title %}Search{% endblock %}

{% block content %}
    <div class="row">
        <div id="search-header" class="col-md-8 col-md-offset-2">
            Search for Repositories
        </div>
    </div>

    <div class="row">
        <div id="search-form" class="col-md-8 col-md-offset-2">
            <form class="form-inline" action="/search/" method="POST" id="search-form">
                <div class="form-group">
                    {% csrf_token %}
                    <input type="text" class="form-control" id="search-query" name="q"><button type="submit" id="search-button" class="btn btn-success">Search</button>
                </div>
            </form>
        </div>
    </div>

    <div class="row">
        <div id="advance-form" class="col-md-8 col-md-offset-2">
            <div id="taxonomy" class="col-md-4 filter-dropdown">
                Taxonomy
                <div class="dropdown" id="tax-drop">
                  <button class="btn btn-default dropdown-toggle" type="button" id="taxonomy-drop" data-toggle="dropdown" aria-expanded="true">
                    Filter taxonomy
                    <span class="caret"></span>
                  </button>
                  <ul id="drop-list" class="dropdown-menu" role="menu" aria-labelledby="taxonomy-dropdown" id="taxonomy-dropdown">
                      {% for tax in taxes %}
                          <li role="presentation"><a role="menuitem" tabindex="-1" href="#" id="selected-taxonomy">{{ tax.name }}</a></li>
                      {% endfor %}
                  </ul>
                </div>
            </div>
            <div id="standards" class="col-md-4 filter-dropdown">
                Standards
                <div class="dropdown">
                  <button class="btn btn-default dropdown-toggle" type="button" id="standards-drop" data-toggle="dropdown" aria-expanded="true">
                    Filter standards
                    <span class="caret"></span>
                  </button>
                  <ul id="drop-list" class="dropdown-menu" role="menu" aria-labelledby="standards-dropdown" id="standards-dropdown">
                      {% for standard in standards %}
                          <li role="presentation"><a role="menuitem" tabindex="-1" href="#" id="selected-taxonomy">{{ standard.name }}</a></li>
                      {% endfor %}
                  </ul>
                </div>
            </div>
            <div id="content-type" class="col-md-4 filter-dropdown">
                Content-Type
                <div class="dropdown">
                  <button class="btn btn-default dropdown-toggle" type="button" id="content-drop" data-toggle="dropdown" aria-expanded="true">
                    Filter content-type
                    <span class="caret"></span>
                  </button>
                  <ul id="drop-list" class="dropdown-menu" role="menu" aria-labelledby="content-type-dropdown" id="content-type-dropdown">
                      {% for content_type in content_types %}
                          <li role="presentation"><a role="menuitem" tabindex="-1" href="#" id="selected-taxonomy">{{ content_type.name }}</a></li>
                      {% endfor %}
                  </ul>
                </div>
            </div>

            <div class="row">
                <div id="filter-button-area" class="col-md-12">

                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <div id="results-view" class="col-md-8 col-md-offset-2">

        </div>
    </div>
{% endblock %}