{% extends "base.html" %}

{% block title %}Search{% endblock %}

{% block content %}
<script src="/static/bower_components/jquery/dist/jquery.min.js"></script>
<script>
    $(document).ready(function() {
        //Set default search fields
        $("#r_name").prop('checked', true);
        $("#r_tax").prop('checked', true);
        $("#r_content").prop('checked', true);
        $("#j_name").prop('checked', true);
    });


</script>

    <div class="row">
        <div id="search-header" class="col-md-8 col-md-offset-2">
            Search for Repositories
        </div>
    </div>

{#    {{ submitted_note }}#}

    <style>
        a.tip {
            text-decoration: underline;
            color: white;
            font-size: 80%;
            vertical-align: top;
        }
    </style>

    <div class="row">
        <div id="search-form" class="col-md-8 col-md-offset-2">
            <form action="/search/" method="POST" id="search-form">
                <div class="form-group">
                    {% csrf_token %}
                        <div class="input-group">
                            <input type="text"class="form-control" id="search-query" name="q" />
                            <div class="input-group-btn">
                                <button type="submit" id="search-button" class="btn btn-success">Search</button>
                            </div>
                            <div class="input-group-btn">
                                <button id="adv-search-button" class='btn'>Advanced</button>
                            </div>
                        </div>

                        <div id="adv-search-options" class="repo-result col-md-12 animated fadeIn" hidden="true">
                        <div style="text-align: center"><strong>Search Criteria:</strong></div><hr/>
                        <div id="adv-repos" class="col-sm-8"><strong class="col-md-6">Repositories</strong><br/>
                            <div class="col-xs-6">
                            <input type="checkbox" id="r_name">Name</input><br/>
                            <input type="checkbox" id="r_tax">Taxonomy</input><br/>
                            <input type="checkbox" id="r_content">Content Type</input><br/>
                            <br/>
                        </div>
                        <div class="col-xs-6">
                            <input type="checkbox" id="r_desc">Description</input><br/>
                            <input type="checkbox" id="r_remarks">Remarks</input><br/>
                            <input type="checkbox" id="r_certs">Certifications</input><br/>
                        </div>
                        </div>
                        <div id="adv-jours" class="col-sm-4"><strong>Journals</strong><br/>
                            <input type="checkbox" id="j_name">Names</input><br/>
                            <input type="checkbox" id="j_endorsed">Endorsed Repositories</input><br/>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="row">
        <div id="advance-form" class="col-md-8 col-md-offset-2">
            <div id="taxonomy" class="col-md-6 filter-dropdown">
                Taxonomy
                <a href="#" data-toggle="tooltip" class="tip" title="Filter repositories by subject area;  You can select multiple areas.">
                    ?
                </a>
                <div class="dropdown">
                    <select class="taxonomy-dropdown">
                            <option></option>
                            {% for tax in taxes %}
                                  <option value="{{ tax.obj_name }}">{{ tax.obj_name }}</option>
                            {% endfor %}
                        </select>
                </div>
            </div>
            <div id="journals" class="col-md-6 filter-dropdown">
                Journals
                <a href="#" data-toggle="tooltip" class="tip" title="Filter or find repositories that are recommended or endorsed by a journal or publisher. Data may still be accepted in a repository even if not endorsed; if you have a question, please check with that journal.">
                    ?
                </a>
                <div class="dropdown">
                    <select class="journal-dropdown">
                            <option></option>
                            {% for journal in journals %}
                                  <option value="{{ journal.name }}">{{ journal.name }}</option>
                            {% endfor %}
                    </select>
                </div>
            </div>
            <!-- <div id="content-type" class="col-md-4 filter-dropdown">
                Accepted Data-Type
                <a href="#" data-toggle="tooltip" class="tip" title="Filter of find repositories by the types of data they accept.">
                    ?
                </a>
                <div class="dropdown">
                    <select class="content-dropdown">
                            <option></option>
                            {% for content_type in content_types %}
                                  <option value="{{ content_type.obj_name }}">{{ content_type.obj_name }}</option>
                            {% endfor %}
                    </select>
                </div>
            </div> -->

            <div class="row">
                <div id="filter-button-area" class="col-md-12">

                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <div id="results-view" class="col-md-8 col-md-offset-2">

        </div>
    </div>
{% endblock %}
