{% extends "base.html" %}

{% block title %}{{ title }} Submission{% endblock %}

{% block content %}
    <div id="submission-form" class="col-md-8 col-md-offset-2">
    <div id="sub-title">{{ title }} Submission Form</div>
        <div id="form-note">Starred (*) fields are required</div>
        <form action="/submit/{{ title }}/" method="post" class="form-horizontal" role="form">
        {% csrf_token %}
        {% if title == "Standards" %}
            {% for field in form %}
                <div class="form-group">
                    <label class="control-label col-md-3">{{ field.label_tag }}* </label>
                    <div class="col-md-9">
                        {{ field }}
                    </div>
                </div>
            {% endfor %}
            <input type="submit" value="Submit"/>
        {% else %}
            {% for field in form %}
                <div class="form-group">
                    <label class="control-label col-md-3">{{ field.label_tag }} </label>
                    <div class="col-md-9">
                        {{ field }}
                    </div>
                </div>
            {% endfor %}
            <input type="submit" value="Submit"/>
        {% endif %}
        </form>

    </div>

{% endblock %}